<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "LinkedIn" %><br />
    <%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label "Why do you want to join Nooch Labs?" %><br />
    <%= f.text_area :why %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <%= submit_tag 'Apply to Nooch', :class => 'btn btn-large btn-primary' %>
  </div>
<% end %>
